html {
  scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	border-radius: 20px;
	border: 2px solid silver;
	background-color: whitesmoke;
}

::-webkit-scrollbar-thumb{
	background-color: red;
	border-radius: 50px;
	box-shadow: 1px 2px 30px 10px rgba(240,40,40,1);

}

.orange{
	border: 2px solid orange;
}
.blue{
	border: 2px solid blue;
}.red{
	border: 2px solid red;
}



.background{
	background: url(../images/bodyBG.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

header{
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: whitesmoke;
}


/*Start of NAVBAR*/
nav{
	z-index: 10;
	min-height: 10vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;

}

nav > div{
	height: 100%;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	background: darkred;
	border-style: outset;
}

.logo{
	display: flex;
	flex: 1;
	justify-content: center;
	height: auto;
	width: 50%;
}

#navDivUl{
	display: flex;
	flex: 5;
	justify-content: flex-end;
}

#ulList{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

#ulList > a,
#ulList > a:visited, 
#ulList > a:hover,
#ulList > a:active
{
	text-decoration-line: none;
	padding: 1em 0;
}

#ulList > a:active{
	box-shadow: inset 0px 1px 23px 0px rgba(0,0,0,0.78);
}

#ulList > a:hover{
	text-shadow: 2px 2px 10px #FFFFFF;
}

#ulList > a > li{
	margin: 0 10px;
	color: whitesmoke;
}
/*End of NAVBAR*/


section, footer{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

section > div, footer > div{
	width: 70%;
	border-style: hidden solid;
	border-color: darkgray;
	background: transparent;
}

#Home > div{
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../images/gadgets.jpg);
	background-size: auto;
	background-repeat: no-repeat;
}

#Home > div > div{
	display: flex;
	height: 80%;
	width: 90%;
}

.homeLeft{
	width: 40%;
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}



.homeLeft > div{
	height: 20%;
	width: 100%;
	border: 1px solid whitesmoke;
	border-radius: 25px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 3px 3px;
}

.label {
	display: block;
	height: 100%;
	width: 100%;
	align-items: center;
}
.label:hover{
	cursor: pointer;
}

.label > div {
	background-color: rgba(182,8,8,0.8399334733893557);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.label > div > h3{
	color: white;
}


.homeRight{
	width: 60%;
	height: 100%;
	margin: 0px 15px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.homeRight > div {
	height: 100%;
	width: 100%;

}

.rightImgs{
	display: block;
	height: 100%;

	overflow-x: hidden;
	overflow-y: hidden;
}

.rightImgs > img{
	display: block;
	min-height: 100%;
	width: 100%;
	border-radius: 25px;
	overflow-x: hidden;
	box-shadow: inset 0px 0px 19px 9px rgba(219,206,206,0.72);	
}

.hidden{
	display: none;
	position: absolute;
}

#one,
#two,
#three,
#four,
#five {
	display: none;
}

#toggle1:checked ~ #one,
#toggle2:checked ~ #two,
#toggle3:checked ~ #three,
#toggle4:checked ~ #four,
#toggle5:checked ~ #five{
	display: block;
}

#About-Us > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#About-Us > div > div{
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.aboutHead {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40%;
	width: 100%;
}

.aboutHead > div {
	font-size: 50px;
	color: white;
	width: auto;
}


.aboutBody {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 100%;
}

.aboutBody > div {
	border-radius: 20px;
	text-align: center;
	height: 80%;
	width: 30%;
	border: 2px solid black;
	background-color: rgba(242,135,135,0.4334908963585435);
}

.aboutBody > div > h1, .aboutBody > div > p {
	padding: 0 5px; 
	color: white;
	margin: 30px 0px;
}

.aboutBody > div > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.aboutBody > div > div > img{
	height: 10%;
	width: 10%;
	transition: ease-in-out 0.1s;
}

.aboutBody > div > div > img:hover{
	transform: scale(1.5);
}


#Products > div {
/*	background: url('../images/productsBG.jpg');*/
/*	background-repeat: no-repeat;
	background-size: 100% 100%;*/
}

#productHeader{
	height: 10%;
	margin-top: 70px;
}

#productHeader > div {
	display: flex;
}

#productHeader > div > label{
/*	display: block;*/
	height: auto;
	width: auto; 
	border: 2px solid silver;	
	border-radius: 20px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	flex: 1;
	background-color: darkred;
	cursor: pointer;
} 

#productHeader > div > label > div{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#productHeader > div > label > div > p{
	color: white;
	display: block;
	padding: 3px 15px;
}

#bottomHr {
	flex: 7;
	border-bottom: 2px solid silver;
}

#productBody {
	height: 80%;
/*	display: flex;
	align-items: center;*/
}

#productBody > div {
	height: 100%;
	width: 100%;
}

#productBody > div > div {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#productBody > div > div > div {
	flex: 1;
	height: 50%;
	max-width: 30%;
	text-align: center;
	color: white;
	border-radius: 20px;
}

#productBody > div > div > div > img {
	height: 100%;
	width: 100%;
	border-radius: inherit;
}

#productBody > div > div > div > h1 {
	margin-top: 10px;
}

#productOne,
#productTwo,
#productThree,
#productFour,
#productFive {
	display: none !important;
} 

#prodbtn1:checked ~ #productOne,
#prodbtn2:checked ~ #productTwo,
#prodbtn3:checked ~ #productThree,
#prodbtn4:checked ~ #productFour,
#prodbtn5:checked ~ #productFive {
	display: block !important;
}

#Reviews > div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#Reviews > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60%;
	max-width: 60%;
	height: 80%;
	margin-bottom: 4%;
}

#Reviews > div > div > h1 {
	margin-top: 4%;
	width: 100%;
	height: 5%;
	text-align: center;
	color: white;
}

#reviewsScroll {
	display: flex;
	flex-wrap: wrap;
	height: 95%;
	width: 100%;
	margin-top: 10%;
	border: 2px solid white;
	overflow-y: scroll;
}

#reviewsScroll > div {
	display: flex;
	height: 25%;
	width: 100%;
	border: 1px solid silver;
}

.scrollLeft{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 30%;
	border-right: 2px solid silver;
}

.scrollLeft > img{
	height: 60%;
	width: 60%;
	border-radius: 50%;
}

.scrollRight{
	text-align: center;
	height: 100%;
	width: 70%;
}

.scrollRight > div > img {
	height: 10px;
}

.scrollHeader{
	display: flex;
	margin: 2px 10px;
}

.scrollHeader > h6 {
	color: white;
	margin: 2px 10px;
}



.scrollHeader ~ div {

	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer{
	height: 50vh;
}

footer > div{
	display: flex;
	color: white;
	box-shadow: inset 0px 0px 132px -40px rgba(255,0,0,1);
}

#contactLeft{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: space-around;
	justify-content: center;
}

#contactLeft > * {
	margin: 2% 10%;
}

#contactRight{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.mapouter {
	text-align:right;
	height:90%;
	width:90%;
}

.gmap_canvas {
	overflow:hidden;
	height:100%;
	width:100%;
}
iframe{
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

span{
	margin-left: 15px;
}


/*Ipad*/

@media screen and (max-width: 768px) {
/*
*{
	border: 2px solid red;
}*/

section, footer{
	width: 100vw;
}

section > div, footer > div {
	width: 100vw;
}

nav > div {
	width: 100vw;
}

}


@media screen and (max-width: 380px){

	/*Start of NAVBAR*/
	nav{
		z-index: 10;
		min-height: 10vh;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: sticky;
		top: 0;

	}

	nav > div{
		height: 100%;
		width: 70%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background: darkred;
		border: 2px solid silver;
	}

	.logo{
		display: flex;
		flex: 1;
		justify-content: center;
		height: 100%;
		width: 50%;
	}

	.logo > a > img {
		display: none;
	}

	#navDivUl{
		display: flex;
		flex: 5;
		justify-content: flex-end;
	}

	#ulList{
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		list-style-type: none;
		text-align: center;
	}

	#ulList > a,
	#ulList > a:visited, 
	#ulList > a:hover,
	#ulList > a:active
	{
		text-decoration-line: none;
		padding: 1em 0;
	}

	#ulList > a:active{
		box-shadow: inset 0px 1px 23px 0px rgba(0,0,0,0.78);
	}

	#ulList > a:hover{
		text-shadow: 2px 2px 10px #FFFFFF;
	}

	#ulList > a > li{
		margin: 0 5px;
		color: whitesmoke;
	}
	/*End of NAVBAR*/

	section, footer{
		width: 100vw;
	}

	section > div, footer > div {
		width: 100vw;
	}

	nav > div {
		width: 100vw;
	}
	h1{
		font-size: 15px;
	}

	h3{
		font-size: 14px;
		text-align: center;
	}

	h4{
		font-size: 13px;
	}


	h6{
		font-size: 12px;
	}

	p{
		font-size: 12px;
	}
	
	.logo{
		width: 100%;
	}
	
	.logo > a > img {
		width: 100%;	
	}

	#productHeader > div > label > div > p{
	padding: 1px 5px;
	}
	
	span{
		font-size: 12px;
	}

	#Reviews > div > div {
		height: 100%;
		min-width: 80%;
		max-width: 80%;
		font-size: 25px;
	}
}